.App {
  text-align: center;
  font-family: futura;
  padding: 30px;
  max-height: 600px;
  border: 5px solid;
}

#root{
  width: 350px;
  width: 350px;
  max-height: 600px;
}

.purchase-history-body{
  max-height: 183px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.current-user{
  padding-bottom: 20px;
  font-weight: 800;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spend-progress-content{
  margin-top: -15px !important;
}

.budget-border{
  border: 5px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 590px;
    z-index: -1;
}

.spend-progress{
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 5px;
}

.progress-body{
  font-size: 12px;
  width: 150px;
  font-weight: 600;
}

.welcome-header{
  font-weight: 800;
  font-size: x-large;
}

.progress-header{
  font-weight: 800;
  font-size: xx-large;
}

.below-budget{
  color: rgb(75,176,248);
  }

.approaching-budget{
  color: rgb(248,200,75);
}

.above-budget{
  color: rgb(248,75,75);
}

.summary-line{
  display: block;

}

.summary-value{
  font-weight: 600
}

.divider-bar{
    background: #efefef;
    height: 3px;
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    display: none
}


.purchase-history{
  margin-top: 20px;
}

.history-title{
  font-weight: 600;
  display: none;
}

.MuiSvgIcon-root{
  width: 20px !important;
}

.MuiButtonBase-root{
  padding: 0px !important;
}

table{
  margin: 0 auto;
  text-align: right;
  cursor: pointer;
}

.table-label{
  text-align: left;
}

tr{
  height: 30px !important;
  color: rgb(163, 162, 162);
}

tr:hover{
  font-style: italic;
  color: black;
}

td{
  width: 75px
}

.table-amount{
  padding-right: 20px;
}


.welcome-body{
  margin: 25px;
}

.logout-button{
  position: relative;
  top: -15px;
  right: -5px;
  text-align: right;
  color: rgb(163, 162, 162);
  font-size: 14px;
  cursor: pointer
}

.logout-button:hover{
  color: black;
  font-style: italic;
}

.confirm-buttons{
  padding-top: 5px;
}

.confirm-buttons a {
  cursor: pointer;
  color: rgb(163, 162, 162);
}

.confirm-buttons a:hover{
  color: black;
  font-style: italic;
}


.confirm-buttons a {
  margin-left: 10px;
  margin-right: 10px;
}

.alert-message{
  color: rgb(248,75,75);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


