.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 30px;
  max-height: 800px;
  color: hsl(0, 0%, 21%);
}


.CircularProgressbar-trail {
  stroke: #a1a1a1 !important;
  stroke-width: 0.5px !important;
}

#root{
  width: 400px;
  max-height: 800px;
}

.purchase-history-body{
  margin-top: 15px;
}

.ignore-button{
  text-align: center;
    width: 20px;
    padding-left: 15px;
}

.cancel-button:hover{
  cursor: pointer;
  color: #e06767;
}

.budget-input-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button:hover{
  cursor: pointer;
  color: #4fa17c;
}

.edit-budget-bar svg{
  margin: 0px 10px;
}

.numeric-input-budget{
  width: 5ch;
  text-align: right;
  font-weight: 800;
  font-size: 15px;
  color: #363636;
  font-family: 'Lato';
  border: none;
  border-bottom: 1px dotted #cfcfcf;
  outline: none;
}

.budget-dollar-sign{
  border-bottom: 1px dotted #cfcfcf;
}

.edit-summary-line{
  width: 80px;
}

.edit-budget-bar{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

#edit-budget-field{
  height: 0px;
}


.purchase-history-table{
  margin: 0 auto;
  width: 100%;
  text-align: right;
  cursor: pointer;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.transaction-message{
  margin-top: 5px;
}

.manage-transactions{
  width: 100%;
  
  height: 50px;
  font-variant: unset !important;
  font-weight: 700 !important;
  text-transform: none !important;
}

.manage-transactions-off{
  background: black !important;
}

.manage-transactions-on{
  background: #679093 !important;
}

.budget-summary-lines{
  display: flex;
  padding-bottom: 10px;
  display: flex;
}

.top-bar{
  border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
    display: flex;
    padding-bottom: 15px;
}


.budget-summary-div:first-of-type {
  border-right: 1px solid #E2E2E2;
}

.budget-summary-total:hover{
  background-color: #faf9facf;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.current-user{
  padding-bottom: 20px;
  font-weight: 900;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spend-progress-content{
  margin-top: -15px !important;
}

.budget-border{
  border: 5px solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 590px;
    z-index: -1;
}

.spend-progress{
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 10px;
}

.progress-body{
  font-size: 12px;
  width: 150px;
  font-weight: 600;
}

.welcome-header{
  font-weight: 900;
  font-size: x-large;
}

.progress-header{
  font-weight: 900;
  font-size: xx-large;
}

.below-budget{
  color: #679093 !important;
  }

.approaching-budget{
  color: #DCC7B4 !important;
}

.above-budget{
  color: #D98C74 !important;
}

.summary-line{
  margin-top: 2px;
  display: block;
}


.recent-transactions-title{
text-align: left;
font-weight: 800 !important;
font-size: 11px !important;
padding-bottom: 15px;
}

.small-perc-symbol{
  font-size: 18px;
}

.small-cap-font{
  font-weight: 600;
  font-size: 12px;
  font-variant: small-caps;
}

.budget-summary-div{
  width: 50%;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.summary-value{
    display: block;
    font-weight: 900;
    font-size: 16px;
}

.divider-bar{
    background: #efefef;
    height: 3px;
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    display: none
}


.purchase-history{
  margin-top: 0px;
  border-top: 1px solid #E2E2E2;
}



.history-title{
  font-weight: 600;
  display: none;
}

.MuiSvgIcon-root{
  width: 20px !important;
}


.spendless-icon{
  display: flex;
  width: 85%;
}

.spendless-icon img{
  width: 90px !important;
}

.MuiButtonBase-root{
  padding: 0px !important;
}

.table-label{
  text-align: left;
  width: 100px !important;
  padding-left: 15px;
}

.history-timestamp{
  font-size: 12px;
  color: #6C6C6C;
  margin-top: 2px;
}

.history-name{
  font-weight: 900;
  font-size: 16px;
}


.table-amount{
  width: 150px;
  padding-right: 15px;
  font-size: 16px;
  height: 65px;
}

.App tr{
  height: 30px !important;
  padding: 20px;
}

.App tr:hover{
  background-color: #faf9facf;
}


.welcome-body{
  margin: 25px;
}

.confirm-ignore{
  margin-bottom: 15px;
}

.logout-button{
  color: #a3a2a2;
  cursor: pointer;
  font-size: 14px;
  width: 15%;
  padding-top: 15px;
}


.confirm-buttons{
  padding-top: 5px;
}

.confirm-buttons a {
  cursor: pointer;
  color: rgb(163, 162, 162);
}


.confirm-buttons a {
  margin-left: 10px;
  margin-right: 10px;
}

.alert-message{
  color: rgb(248,75,75);
}

.checkout-line{
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
