/*
  naming convention for spendlo css
  1. general classes: .spendlo-ext-<class>
  2. dropdown classes: .spendlo-ext-dropdown-<class>
  3. popup classes: .spendlo-ext-popup-<class>
*/

.spendlo-ext-root {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    z-index: 10000;
    box-shadow: 0px 0px 7px 2px #8080801a;
    border-radius: 4px;
}

.spendlo-ext-dropdown {
    width: 400px;
    max-height: 800px;
}

.spendlo-ext-onboard-body {
    font-size: 18px;
}

.spendlo-ext-app {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 30px;
    color: #363636;
}

.spendlo-ext-dropdown-top-bar {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
    display: flex;
    padding-bottom: 15px;
}

.spendlo-ext-icon {
    display: flex;
    width: 85%;
}

.spendlo-ext-dropdown-ignore {
    text-align: center;
    width: 20px;
    padding-left: 15px;
}

.spendlo-ext-dropdown-cancel:hover {
    cursor: pointer;
    color: #e06767;
}

.spendlo-ext-icon img {
    width: 90px !important;
}

.spendlo-ext-popup {
    width: 300px;
    max-height: 600px;
}

.spendlo-ext-popup-message {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #363636;
    width: 300px;
    height: 30px;
    padding: 20px;
    padding-top: 24px;
    font-size: 14px;
    text-align: left;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    z-index: 10000;
    box-shadow: 0px 0px 7px 2px #8080801a;
    border-radius: 4px;
}

.spendlo-ext-popup-header {
    font-size: 16px;
    font-weight: 800;
}

.spendlo-ext-dropdown-transactions-title {
    text-align: left;
    font-weight: 800 !important;
    font-size: 11px !important;
    padding-bottom: 15px;
}

.spendlo-right-top {
    width: 100%;
    text-align: right;
    cursor: pointer;
    margin-top: 10px;
}

.spendlo-right-top .spendlo-ext-small-cap-font:hover {
    opacity: 0.8;
}

.popup-toggle {
    font-size: 60px;
    top: -33px;
    left: 10px;
    text-align: end;
    height: 10px;
    position: absolute;
}

.spendlo-header-text {
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.spendlo-ext-popup-message {
    height: 75px !important;
}

.spendlo-ext-dropdown-progress-content {
    margin-top: -15px !important;
}

.spendlo-ext-dropdown-progress {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 5px;
}

.spendlo-ext-dropdown-progress-body {
    font-size: 12px;
    width: 150px;
    font-weight: 600;
}

.spendlo-ext-welcome-header {
    font-weight: 800;
    font-size: x-large;
}

.spendlo-ext-dropdown-progress-header {
    font-weight: 800;
    font-size: xx-large;
}

.spendlo-ext-below-budget {
    color: rgb(75, 176, 248);
}

.spendlo-ext-approaching-budget {
    color: rgb(248, 200, 75);
}

.spendlo-ext-above-budget {
    color: rgb(248, 75, 75);
}

.spendlo-ext-summary-line {
    display: block;
}

.spendlo-ext-summary-lines {
    display: flex;
    padding: 10px 0px;
    display: flex;
}

.spendlo-ext-summary-div {
    width: 50%;
    padding: 10px;
}

.spendlo-ext-small-cap-font {
    font-weight: 400;
    font-size: 12px;
    font-variant: small-caps;
}

.spendlo-ext-summary-value {
    display: block;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 3px;
}

.spendlo-ext-popup-hide {
    background-color: black;
    color: white;
    padding: 20px 0px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.spendlo-ext-popup-ignore {
    padding-top: 15px;
    cursor: pointer;
    font-size: 14px;
}

.spendlo-ext-summary-div:first-of-type {
    border-right: 1px solid #e2e2e2;
}

.spendlo-ext-divider-bar {
    background: #e4e3e3;
    height: 1px;
    margin: 0 auto;
    margin-top: 10px;
}

.spendlo-ext-dropdown-empty {
    margin-top: 5px;
}

.spendlo-ext-dropdown-history {
    margin-top: 20px;
}

.MuiSvgIcon-root {
    width: 20px !important;
}

.MuiButtonBase-root {
    padding: 0px !important;
}

.spendlo-ext-app table {
    margin: 0 auto;
    text-align: right;
    cursor: pointer;
    padding-bottom: 10px;
}

.spendlo-ext-dropdown-table-label {
    text-align: left;
    width: 200px !important;
    padding-left: 15px;
}

.spendlo-ext-app tr {
    height: 60px !important;
    padding: 20px;
}

.spendlo-ext-dropdown-history-body {
    margin-top: 20px;
}

.spendlo-ext-dropdown-budget-input-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spendlo-ext-dropdown-table-amount {
    width: 150px;
    padding-right: 15px;
    font-size: 16px;
}

.spendlo-ext-welcome-body {
    margin: 25px;
}

.spendlo-ext-logout-button {
    position: relative;
    top: -15px;
    right: -5px;
    text-align: right;
    color: rgb(163, 162, 162);
    font-size: 14px;
    cursor: pointer;
}

.spendlo-ext-dropdown-manage-transactions {
    width: 100%;

    height: 50px;
    font-variant: unset !important;
    font-weight: 700 !important;
    text-transform: none !important;
}

.spendlo-ext-dropdown-manage-transactions-off {
    background: black !important;
}

.spendlo-ext-dropdown-manage-transactions-on {
    background: #679093 !important;
}

.spendlo-ext-onboard-top {
    margin-bottom: 15px;
}

.spendlo-ext-onboard-button {
    width: 130px;
    height: auto;
}

.spendlo-ext-dropdown-subline-onboard {
    color: #679093 !important;
    font-size: 20px;
    font-style: italic;
}

.spendlo-ext-dropdown-history-timestamp {
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 2px;
}

.spendlo-ext-dropdown-history-name {
    font-weight: 900;
    font-size: 16px;
}

.spendlo-confirm-ignore {
    margin-bottom: 15px;
}

.popup-progress {
    font-weight: 600;
    font-size: 14px;
}

.spendlo-ext-dropdown-edit-budget-bar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.spendlo-ext-dropdown-summary-total {
    cursor: pointer;
}

.spendlo-ext-dropdown-budget-edit {
    cursor: pointer;
}

.spendlo-ext-dropdown-edit-budget-bar svg {
    margin: 0px 10px;
}

.spendlo-ext-dropdown-save:hover {
    cursor: pointer;
    color: #4fa17c;
}

.spendlo-ext-dropdown-numeric-input-budget {
    width: 5ch;
    text-align: right;
    font-weight: 800;
    font-size: 15px;
    color: #363636;
    font-family: 'Lato';
    border: none;
    border-bottom: 1px dotted #cfcfcf;
    outline: none;
}

.popup-total {
    font-weight: 800;
    font-size: xx-large;
    padding-bottom: 20px;
}

.spendlo-ext-dropdown-budget-dollar-sign {
    border-bottom: 1px dotted #cfcfcf;
    margin-bottom: -3px;
}

.spendlo-ext-dropdown-perc {
    font-size: 18px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.CircularProgressbar-trail {
    stroke: #a1a1a1 !important;
    stroke-width: 0.5px !important;
}
