.popup-app {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 30px;
  max-height: 600px;
  color: #363636;
  }
  
#popup-root{
    width: 300px;
    max-height: 600px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    z-index: 10000;
    box-shadow: 0px 0px 7px 2px #8080801a;
    border-radius: 4px;
  }

  .popup-alert-message{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #363636;
    width: 300px;
    height: 80px;
    padding: 20px;
    padding-top: 24px;
    font-size: 14px;
    text-align: left;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    z-index: 10000;
    box-shadow: 0px 0px 7px 2px #8080801a;
    border-radius: 4px;
  }

.popup-main-text{
  font-size: 16px;
  font-weight: 800;
}

.popup-toggle{
  font-size: 60px;
  top: -33px;
  left: 10px;
  text-align: end;
  height: 10px;
  position: absolute;
}
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .spend-progress-content{
    margin-top: -15px !important;
  }
  
  .spend-progress{
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 5px;
  }
  
  .progress-body{
    font-size: 12px;
    width: 150px;
    font-weight: 600;
  }
  
  .welcome-header{
    font-weight: 800;
    font-size: x-large;
  }
  
  .progress-header{
    font-weight: 800;
    font-size: xx-large;
  }
  
  .below-budget{
    color: rgb(75,176,248);
    }
  
  .approaching-budget{
    color: rgb(248,200,75);
  }
  
  .above-budget{
    color: rgb(248,75,75);
  }
  
  .popup-summary-line{
    display: block;
  }

  .popup-budget-summary-lines{
    display: flex;
    padding: 20px 0px;
    display: flex;
  }

  .popup-budget-summary-div{
    width: 50%;
    padding: 10px
  }
  
  .popup-small-cap-font{
    font-weight: 400;
    font-size: 12px;
    font-variant: small-caps;
  }

  .popup-summary-value{
    display: block;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 3px;
 }

 .popup-hide-message{
  background-color: black;
  color: white;
  padding: 20px 0px;
  width: 240px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
 }

 .popup-ignore-message {
  padding-top: 15px;
  cursor: pointer;
  font-size: 14px;
}


  .popup-budget-summary-div:first-of-type {
    border-right: 1px solid #E2E2E2;
  }
  
  .divider-bar{
      background: #efefef;
      height: 3px;
      width: 250px;
      margin: 0 auto;
      margin-top: 30px;
      display: none
  }
  
  
  .purchase-history{
    margin-top: 20px;
  }
  
  .history-title{
    font-weight: 600;
    display: none;
  }
  
  .MuiSvgIcon-root{
    width: 20px !important;
  }
  
  .MuiButtonBase-root{
    padding: 0px !important;
  }
  
  .popup-app table{
    margin: 0 auto;
    text-align: right;
    cursor: pointer;
  }
  
  .table-label{
    text-align: left;
  }
  
  .popup-app tr{
    height: 20px !important;
    color: rgb(163, 162, 162);
  }

  .popup-purchase-history-body{
    margin-top: 20px;;
  }
  
  .popup-app tr:hover{
    font-style: italic;
    color: black;
  }
  
  .popup-app td{
    width: 75px;
    text-align: center;
  }
  
  .table-amount{
    padding-right: 20px;
  }
  
  
  .welcome-body{
    margin: 25px;
  }
  
  .logout-button{
    position: relative;
    top: -15px;
    right: -5px;
    text-align: right;
    color: rgb(163, 162, 162);
    font-size: 14px;
    cursor: pointer
  }
  
  .logout-button:hover{
    color: black;
    font-style: italic;
  }
  
  .confirm-buttons{
    padding-top: 5px;
  }
  
  .confirm-buttons a {
    cursor: pointer;
    color: rgb(163, 162, 162);
  }
  
  .confirm-buttons a:hover{
    color: black;
    font-style: italic;
  }
  
  
  .confirm-buttons a {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .alert-message{
    color: rgb(248,75,75);
  }
  
  .checkout-line, .popup-checkout-line{
    margin-bottom: 10px;
  }

  .popup-checkout-line{
    font-size: 14px;
    padding-bottom: 10px;
  }

  .popup-progress{
    font-weight: 600;
    font-size: 14px;
  }

  .popup-total{
    font-weight: 800;
    font-size: xx-large;
    padding-bottom: 20px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  